.headline,
h2,
h3,
h4 {
    text-align: center;
    text-transform: uppercase;
}

.film-title {
    margin-left: 120px;
}

.film-wrap {
    background-color: rgb(222, 208, 208);
}
.rating {
    display: inline-block;
    margin: 0 5px 0 0;
    color: #00f;
}
.pagination {
    text-align: center;
}
.btn {
    width: 70px;
    height: 35px;
    font-size: 20px;
}
.current-btn {
    background-color: rgb(218, 36, 36);
    font-weight: bold;
}
.input {
    box-sizing: border-box;
    height: 35px;
    background-color: chartreuse;
}
