.headline {
    font-weight: bold;
    text-transform: uppercase;
}
.headline,
.pageNumber,
.filmTitle {
    text-align: center;
}
.container {
    max-width: 1400px;
    margin: auto;
    background-color: lightcoral;
}
.rating {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
.pagination {
    text-align: center;
}
.pagination__form {
    display: inline-block;
    margin: 10px;
}
.theme {
    display: flex;
    justify-content: flex-end;
}
.themeBtn {
    align-self: center;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
#sun,
#moon {
    margin-left: 10px;
}
.light-theme {
    background-color: #eeeeee;
    color: #000;
}
.dark-theme {
    background-color: #212121;
    color: #fff;
}
.filmBlock {
    display: flex;
}
.filmOverview {
    margin: 0;
    padding: 0 10px 0;
    font-size: 18px;
}
.filmReleaseDate {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 200px;
    height: 200px;
    background-color: #0f0; */
    text-align: center;
}
